<!-- TAKEN FROM 1 -->
<!-- The solution for displaying a picture successfully was taken from: -->
<!-- https://stackoverflow.com/questions/78551407/images-are-not-displayed-in-angular-18 -->

<!-- TAKEN FROM 2 -->
<!-- The code for creating a form with Tailwind was taken from: -->
<!-- https://v1.tailwindcss.com/components/forms#underline-form -->

<!-- TAKEN FROM 3 -->
<!-- The code for creating a card with Tailwind was taken from: -->
<!-- https://v1.tailwindcss.com/components/cards#stacked -->

<!-- TAKEN FROM 4 -->
<!-- The code for using Angular reactive forms was taken from: -->
<!-- https://www.digitalocean.com/community/tutorials/angular-reactive-forms-introduction -->

<!-- TAKEN FROM 5 -->
<!-- The code for centering a div using Tailwind was taken from: -->
<!-- https://thomasstep.com/blog/centering-a-div-with-tailwind-css -->

<!-- TAKEN FROM START 3 -->
<!-- TAKEN FROM START 5 -->
<div class="flex flex-row min-h-screen justify-center items-center">
<!-- TAKEN FROM END 5 -->
	<div class="max-w-sm rounded overflow-hidden shadow-lg">
		<!-- TAKEN FROM START 1 -->
		<img class="w-full" src="assets/weather-forecast.png">
		<!-- TAKEN FROM END 1 -->
		<a class="text-[13px]" href="https://www.flaticon.com/free-icon/weather-forecast_9176568?term=weather&page=1&position=25&origin=search&related_id=9176568" title="weather forecast icons">
			"Weather Forecast free icon" created by Rosa Suave - Flaticon</a>
		<div class="px-6 py-4">
			<div class="font-bold text-xl mb-2">{{ cityName }}, at {{ hour }} o'clock GMT</div>
			<p class="text-gray-700 text-base">
				{{ temperature }} &deg;C
			</p>
		</div>
		<div class="px-6 pt-4 pb-2">
			<!-- TAKEN FROM START 2 -->
			<!-- TAKEN FROM START 4 -->
			<form class="w-full max-w-sm" [formGroup]="formWeather" (ngSubmit)="onSubmit(formWeather)">
			<!-- TAKEN FROM END 4 -->
				<div class="flex items-center border-b border-teal-500 py-2">
					<!-- TAKEN FROM START 4 -->
					<input class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none"
					       type="text" placeholder="Vienna" aria-label="Full name" formControlName="cityNameInput">
					<button class="flex-shrink-0 bg-teal-500 hover:bg-teal-700 border-teal-500 hover:border-teal-700 text-sm border-4 text-white py-1 px-2 rounded"
					        type="submit">
						Search for location
					</button>
					<!-- TAKEN FROM END 4 -->
				</div>
			</form>
			<!-- TAKEN FROM END 2 -->
		</div>
	</div>
</div>
<!-- TAKEN FROM END 3 -->
